// html
html
    body
        div#container
        div.user-details
        div#foo.bar.baz
        #foo
        .bar

        p wahoo!
        p
            | foo bar baz
            | rar rawr
            | super cool
            | go jade go
        label Username:
            input(name='name')

        p.
            foo asdf
            asdf
            asdfasdfafa
            adfafa
        p .
        p.
            foo \bar
        // just some comments
        p foo
        p bar
        //- will not output within markup
        p foo
        p bar

        //
            #content
                h1 Example