<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form method="post" action="/login"><input type="hidden" name="_csrf"
                                           value="ykGx4az4-eiV-7QSwDqZnJnWsDt4X28FjPpE">
    <input type="text" name="email" placeholder="hi@webapplog.com"><input
        type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>
<p>
    <Practical>Node.js is your step-by-step guide to learning how to build scalable real-world web applications, taking
        you from installing Express.js to writing full-stack web applications with powerful libraries such as Mongoskin,
        Everyauth, Mongoose, Socket.IO, Handlebars, and everything in between.
    </Practical>
</p>
</body>
</html>